<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Kirjat</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body>
        <div>        
            <table>
                <tr>
                    <th>Kirjan nimi</th>
                    <th>Kirjan kirjoittaja</th>
                </tr>
                <tr th:each="book : ${books}">
                    <td><a th:href="@{/books/{bookId}(bookId=${book.id})}" th:text="${book.title}"></a></td>
                    <td th:text="${book.author}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>
