<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Perimatietokanta</title>
    </head>
    <body>
        <table>
            <tr>
                <th>Kirjan nimi</th>
                <th>Kirjan kirjoittaja</th>
                <th>Kirjan teosnumero</th>
            </tr>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}">book title</td>
                <td th:text="${book.author}">author name</td>
                <td th:text="${book.volume}">teosnumero</td>
            </tr>
        </table>
    </body>
</html>
