<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Muokkaa kertojaa</title>
    </head>
    <body>
        <a th:href="@{/}" th:text="Etusivu"></a>
        <a th:href="@{/books}" th:text="Kirjat"></a>
        <a th:href="@{/narrators}" th:text="Kertojat"></a>
        <a th:href="@{/themes}" th:text="Teemat"></a>
        <a th:href="@{/admin}" th:text="Ylläpito"></a>
        <div> 
            <br></br>
            <p>Muokkaa kertojaa</p>
            <form th:action="@{/admin/editnarrator/{narratorId}(narratorId=${narrator.id})}" method="POST">
                <input type="text" th:value="${narrator.name}" name="name"/><br></br><br></br>
                <input type="submit" value="Tallenna muutokset"/>            
            </form>
        </div>
    </body>
</html>
