<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Perimätietokanta</title>
    </head>
    <body>
        <h1>Perimätietokanta</h1>
        <h3>Tervetuloa perimätietokantaan.</h3>
        <h3>Tietokannassa voit selata perimätietoja kertojan, kirjan tai teeman mukaan!</h3>
        <p><small>&copy; H.B. Global Consulting 2016</small></p>
    </body>
</html>