<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Perimätiedot</title>
    </head>
    <body>
        <table>
            <tr>
                <th>Kertoja</th>
                <th>Kirja</th>
                <th>Teema</th>
                <th>Sisältö</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="narration : ${narrations}">
                <td th:text="${narration.narrator.name}">Kertoja</td>
                <td th:text="${narration.book.title}">Kirja</td>
                <td th:text="${narration.theme.theme}">Teema</td>
                <td th:text="${narration.content}">Sisältö</td>
                <td>
                    <a th:href="@{/admin/edinarration/{narrationId}(narrationId=${narration.id})}"><input type="submit" value="Muokkaa"/></a>
                </td>
                <td>
                    <form th:action="@{/admin/edinarration/{narrationId}(narrationId=${narration.id})}" th:method="DELETE">
                        <input type="submit" value="Poista" th:id="${'remove-' + narration.id}"/>
                    </form>
                </td>
            </tr>
        </table>
    </body>
</html>
