<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Teemat</title>
    </head>
    <body>
        <div>        
            <table>
                <tr>
                    <th>Teema</th>
                </tr>
                <tr th:each="theme : ${themes}">
                    <td><a th:href="@{/themes/{themeId}(themeId=${theme.id})}" th:text="${theme.theme}"></a></td>
                </tr>
            </table>
        </div>
    </body>
</html>