<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Admin</title>
    </head>
    <body>
        <a th:href="@{/}" th:text="Etusivu"></a>
        <a th:href="@{/books}" th:text="Kirjat"></a>
        <a th:href="@{/narrators}" th:text="Kertojat"></a>
        <a th:href="@{/themes}" th:text="Teemat"></a>
        <a th:href="@{/search}" th:text="Haku"></a>
        <a th:href="@{/admin}" th:text="Ylläpito"></a>
        <div>
            <br></br>
            <p>Kirja</p>
            <form th:action="@{/admin/book}" method="POST">
                <input type="text" placeholder="syötä kirjan nimi" name="title"/>
                <input type="text" placeholder="syötä kirjailijan nimi" name="author"/>
                <input type="submit" value="Luo uusi kirja"/>            
            </form>
        </div>
        <div> 
            <br></br>
            <p>Kertoja</p>
            <form th:action="@{/admin/narrator}" method="POST">
                <input type="text" placeholder="syötä kertojan nimi" name="name"/>
                <input type="submit" value="Luo uusi kertoja"/>            
            </form>
        </div>
        <div>
            <br></br> 
            <p>Teema</p>
            <form th:action="@{/admin/theme}" method="POST">
                <input type="text" placeholder="syötä teema" name="teema"/>
                <input type="submit" value="Luo uusi teema"/>            
            </form>
        </div>
        <div>
            <br></br>
            <p>Perimätieto</p>
            <form th:action="@{/admin/narration}" method="POST">
                <input type="text" size="128" placeholder="syötä perimätieto" name="content"/><br></br><br></br>
                <select name="book">
                    <option th:each="book: ${books}" th:value="${book.id}" 
                            th:text="${book.title}" ></option>
                </select>
                <select name="narrator">
                    <option th:each="narrator: ${narrators}" th:value="${narrator.id}" 
                            th:text="${narrator.name}" ></option>
                </select>
                <select name="theme">
                    <option th:each="theme: ${themes}" th:value="${theme.id}" 
                            th:text="${theme.theme}" ></option>
                </select>
                <input type="submit" value="Luo uusi perimätieto"/> 
            </form>
        </div>
    </body>
</html>
