<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Kirjat</title>
    </head>
    <body>
        <a th:href="@{/}" th:text="Etusivu"></a>
        <a th:href="@{/books}" th:text="Kirjat"></a>
        <a th:href="@{/narrators}" th:text="Kertojat"></a>
        <a th:href="@{/themes}" th:text="Teemat"></a>
        <a th:href="@{/search}" th:text="Haku"></a>
        <a th:href="@{/admin}" th:text="Ylläpito"></a>
        <div>   
            <br></br>
            <table>
                <tr>
                    <th>Kirjan nimi</th>
                    <th>Kirjan kirjoittaja</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="book : ${books}">
                    <td><a th:href="@{/books/{bookId}(bookId=${book.id})}" th:text="${book.title}"></a></td>
                    <td th:text="${book.author}"></td>
                    <td>
                        <a th:href="@{/admin/editbook/{bookId}(bookId=${book.id})}"><input type="submit" value="Muokkaa"/></a>
                    </td>
                    <td>
                        <form th:action="@{/admin/book/{bookId}(bookId=${book.id})}" th:method="DELETE">
                            <input type="submit" value="Poista" th:id="${'remove-' + book.id}"/>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
