<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Teemat</title>
    </head>
    <body>
        <a th:href="@{/}" th:text="Etusivu"></a>
        <a th:href="@{/books}" th:text="Kirjat"></a>
        <a th:href="@{/narrators}" th:text="Kertojat"></a>
        <a th:href="@{/themes}" th:text="Teemat"></a>
        <a th:href="@{/search}" th:text="Haku"></a>
        <a th:href="@{/admin}" th:text="Ylläpito"></a>
        <div>     
            <br></br>
            <table>
                <tr>                    
                    <th>Teema</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="theme : ${themes}">
                    <td><a th:href="@{/themes/{themeId}(themeId=${theme.id})}" th:text="${theme.theme}"></a></td>
                    <td>
                        <a th:href="@{/admin/edittheme/{themeId}(themeId=${theme.id})}"><input type="submit" value="Muokkaa"/></a>
                    </td>
                    <td>
                        <form th:action="@{/admin/theme/{themeId}(themeId=${theme.id})}" th:method="DELETE">
                            <input type="submit" value="Poista" th:id="${'remove-' + theme.id}"/>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>